### 1. Data Preparation

In [1]:
# importing modules
import pandas as pd
import numpy as np
import locale
from datetime import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

#Displaying all dataframe columns
pd.set_option('display.max_columns', None)

In [2]:
#Loading datasets
datos = pd.read_excel('consumo_prueba_2019.xls', skiprows=7, header=None)

In [3]:
datos.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27
0,NaN,00\nSOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Cliente,NaN,NaN,NaN,NaN,Factura,NaN,NaN,NaN,NaN,NaN,NaN,Tiquete,NaN,NaN,Fecha,NaN,Hora,Vehículo,Manifiesto,Km,Artículo,NaN,NaN,Cant.,Precio,Total Venta
2,NaN,COLS\n,NaN,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-01 00:00:00,NaN,10:00:00,UPN-,110-,0,GAS,NaN,NaN,21,8000,168000
3,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-10 00:00:00,NaN,12:15:00,UPN-,110-,0,GAS,NaN,NaN,10,8000,80000
4,NaN,NaN,NaN,NaN,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-11 00:00:00,NaN,10:50:00,SWP-,110-,0,GAS,NaN,NaN,52,8000,416000
5,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-12 00:00:00,NaN,12:59:00,SWP-,110-,0,GAS,NaN,NaN,23,8000,184000
6,NaN,NaN,NaN,NaN,NaN,NaN,No. Ventas: 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,999.999,NaN,2e+06
7,NaN,01\nAIRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Cliente,NaN,NaN,NaN,NaN,Factura,NaN,NaN,NaN,NaN,NaN,NaN,Tiquete,NaN,NaN,Fecha,NaN,Hora,Vehículo,Manifiesto,Km,Artículo,NaN,NaN,Cant.,Precio,Total Venta
9,NaN,COLS\n,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-01 00:00:00,NaN,02:50:00,TDL-,130-,0,GAS,NaN,NaN,15.001,2000,30002
10,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-11 00:00:00,NaN,20:17:00,TDL-,130-,0,GAS,NaN,NaN,17.021,2000,34042
11,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-15 00:00:00,NaN,23:34:00,SWL-,500,0,GAS,NaN,NaN,33.456,2000,66912
12,NaN,NaN,NaN,NaN,NaN,NaN,No. Ventas: 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,999.999,NaN,2e+06
13,NaN,02\nURT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Cliente,NaN,NaN,NaN,NaN,Factura,NaN,NaN,NaN,NaN,NaN,NaN,Tiquete,NaN,NaN,Fecha,NaN,Hora,Vehículo,Manifiesto,Km,Artículo,NaN,NaN,Cant.,Precio,Total Venta
15,NaN,COLS\n,NaN,NaN,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-01 00:00:00,NaN,03:46,UPN-,210-,0,GAS,NaN,NaN,79,7000,553000
16,NaN,NaN,NaN,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-01 00:00:00,NaN,06:16,UPN-,210-,0,GAS,NaN,NaN,9,7000,63000
17,NaN,NaN,NaN,NaN,NaN,NaN,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-02 00:00:00,NaN,11:34,UPN-,130-,0,GAS,NaN,NaN,120,7000,840000
18,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-01 00:00:00,NaN,11:37,UPN-,130-,0,GAS,NaN,NaN,50,7000,350000
19,NaN,NaN,NaN,NaN,NaN,NaN,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-03 00:00:00,NaN,12:56,UPN-,210-,0,GAS,NaN,NaN,30,7000,210000

In [4]:
datos.columns = datos.iloc[1]
datos = datos.drop(datos.index[[1, 8, 14]])

In [5]:
datos = datos.dropna(axis=1, how='all')
datos = datos.dropna(axis=0, thresh=10)
datos.head(20)

1,Cliente,Factura,Fecha,Hora,Vehículo,Manifiesto,Km,Artículo,nan,Cant.,Precio,Total Venta
2,COLS\n,50,2019-05-01 00:00:00,10:00:00,UPN-,110-,0,GAS,NaN,21,8000,168000
3,NaN,51,2019-05-10 00:00:00,12:15:00,UPN-,110-,0,GAS,NaN,10,8000,80000
4,NaN,52,2019-05-11 00:00:00,10:50:00,SWP-,110-,0,GAS,NaN,52,8000,416000
5,NaN,53,2019-05-12 00:00:00,12:59:00,SWP-,110-,0,GAS,NaN,23,8000,184000
9,COLS\n,20,2019-06-01 00:00:00,02:50:00,TDL-,130-,0,GAS,NaN,15.001,2000,30002
10,NaN,21,2019-06-11 00:00:00,20:17:00,TDL-,130-,0,GAS,NaN,17.021,2000,34042
11,NaN,22,2019-06-15 00:00:00,23:34:00,SWL-,500,0,GAS,NaN,33.456,2000,66912
15,COLS\n,101,2019-07-01 00:00:00,03:46,UPN-,210-,0,GAS,NaN,79,7000,553000
16,NaN,102,2019-07-01 00:00:00,06:16,UPN-,210-,0,GAS,NaN,9,7000,63000
17,NaN,103,2019-07-02 00:00:00,11:34,UPN-,130-,0,GAS,NaN,120,7000,840000
18,NaN,104,2019-07-01 00:00:00,11:37,UPN-,130-,0,GAS,NaN,50,7000,350000
19,NaN,105,2019-07-03 00:00:00,12:56,UPN-,210-,0,GAS,NaN,30,7000,210000
20,NaN,106,2019-07-01 00:00:00,17:43,TDL-,210-,0,GAS,NaN,15,7000,105000

In [6]:
datos = datos.dropna(axis=1, how='all')
datos['Cliente'] = "COLS" 
datos.head(20)

1,Cliente,Factura,Fecha,Hora,Vehículo,Manifiesto,Km,Artículo,Cant.,Precio,Total Venta
2,COLS,50,2019-05-01 00:00:00,10:00:00,UPN-,110-,0,GAS,21,8000,168000
3,COLS,51,2019-05-10 00:00:00,12:15:00,UPN-,110-,0,GAS,10,8000,80000
4,COLS,52,2019-05-11 00:00:00,10:50:00,SWP-,110-,0,GAS,52,8000,416000
5,COLS,53,2019-05-12 00:00:00,12:59:00,SWP-,110-,0,GAS,23,8000,184000
9,COLS,20,2019-06-01 00:00:00,02:50:00,TDL-,130-,0,GAS,15.001,2000,30002
10,COLS,21,2019-06-11 00:00:00,20:17:00,TDL-,130-,0,GAS,17.021,2000,34042
11,COLS,22,2019-06-15 00:00:00,23:34:00,SWL-,500,0,GAS,33.456,2000,66912
15,COLS,101,2019-07-01 00:00:00,03:46,UPN-,210-,0,GAS,79,7000,553000
16,COLS,102,2019-07-01 00:00:00,06:16,UPN-,210-,0,GAS,9,7000,63000
17,COLS,103,2019-07-02 00:00:00,11:34,UPN-,130-,0,GAS,120,7000,840000
18,COLS,104,2019-07-01 00:00:00,11:37,UPN-,130-,0,GAS,50,7000,350000
19,COLS,105,2019-07-03 00:00:00,12:56,UPN-,210-,0,GAS,30,7000,210000
20,COLS,106,2019-07-01 00:00:00,17:43,TDL-,210-,0,GAS,15,7000,105000

In [7]:
datos['Estacion'] = "00 SOL"
datos.loc[(datos.index[4:7], 'Estacion')] = "01 AIRES"
datos.loc[(datos.index[7:13], 'Estacion')] = "02 URT"

In [8]:
datos.head(30)

1,Cliente,Factura,Fecha,Hora,Vehículo,Manifiesto,Km,Artículo,Cant.,Precio,Total Venta,Estacion
2,COLS,50,2019-05-01 00:00:00,10:00:00,UPN-,110-,0,GAS,21,8000,168000,00 SOL
3,COLS,51,2019-05-10 00:00:00,12:15:00,UPN-,110-,0,GAS,10,8000,80000,00 SOL
4,COLS,52,2019-05-11 00:00:00,10:50:00,SWP-,110-,0,GAS,52,8000,416000,00 SOL
5,COLS,53,2019-05-12 00:00:00,12:59:00,SWP-,110-,0,GAS,23,8000,184000,00 SOL
9,COLS,20,2019-06-01 00:00:00,02:50:00,TDL-,130-,0,GAS,15.001,2000,30002,01 AIRES
10,COLS,21,2019-06-11 00:00:00,20:17:00,TDL-,130-,0,GAS,17.021,2000,34042,01 AIRES
11,COLS,22,2019-06-15 00:00:00,23:34:00,SWL-,500,0,GAS,33.456,2000,66912,01 AIRES
15,COLS,101,2019-07-01 00:00:00,03:46,UPN-,210-,0,GAS,79,7000,553000,02 URT
16,COLS,102,2019-07-01 00:00:00,06:16,UPN-,210-,0,GAS,9,7000,63000,02 URT
17,COLS,103,2019-07-02 00:00:00,11:34,UPN-,130-,0,GAS,120,7000,840000,02 URT
18,COLS,104,2019-07-01 00:00:00,11:37,UPN-,130-,0,GAS,50,7000,350000,02 URT
19,COLS,105,2019-07-03 00:00:00,12:56,UPN-,210-,0,GAS,30,7000,210000,02 URT
20,COLS,106,2019-07-01 00:00:00,17:43,TDL-,210-,0,GAS,15,7000,105000,02 URT

In [9]:
locale.setlocale(locale.LC_ALL,'en_US.UTF-8')
#debemos convertir la fecha a datetime y la hora
datos['Fecha'] = pd.to_datetime(datos['Fecha'], format='%d%b%Y:%H:%M:%S')
#y cambiar puntos por decimales para dejar las cantidades en numeros enteros
datos['Cant.'] = datos['Cant.'].replace('[\$.]', '', regex=True).replace(',', '.',regex=True).astype(float)
datos.head(30)

1,Cliente,Factura,Fecha,Hora,Vehículo,Manifiesto,Km,Artículo,Cant.,Precio,Total Venta,Estacion
2,COLS,50,2019-05-01,10:00:00,UPN-,110-,0,GAS,21.000,8000,168000,00 SOL
3,COLS,51,2019-05-10,12:15:00,UPN-,110-,0,GAS,10.000,8000,80000,00 SOL
4,COLS,52,2019-05-11,10:50:00,SWP-,110-,0,GAS,52.000,8000,416000,00 SOL
5,COLS,53,2019-05-12,12:59:00,SWP-,110-,0,GAS,23.000,8000,184000,00 SOL
9,COLS,20,2019-06-01,02:50:00,TDL-,130-,0,GAS,15.001,2000,30002,01 AIRES
10,COLS,21,2019-06-11,20:17:00,TDL-,130-,0,GAS,17.021,2000,34042,01 AIRES
11,COLS,22,2019-06-15,23:34:00,SWL-,500,0,GAS,33.456,2000,66912,01 AIRES
15,COLS,101,2019-07-01,03:46,UPN-,210-,0,GAS,79.000,7000,553000,02 URT
16,COLS,102,2019-07-01,06:16,UPN-,210-,0,GAS,9.000,7000,63000,02 URT
17,COLS,103,2019-07-02,11:34,UPN-,130-,0,GAS,120.000,7000,840000,02 URT
18,COLS,104,2019-07-01,11:37,UPN-,130-,0,GAS,50.000,7000,350000,02 URT
19,COLS,105,2019-07-03,12:56,UPN-,210-,0,GAS,30.000,7000,210000,02 URT
20,COLS,106,2019-07-01,17:43,TDL-,210-,0,GAS,15.000,7000,105000,02 URT

In [10]:
#una vez realizados los cambios a la base de datos la exportamos a .csv
datos.to_csv('3er_punto_prueba.csv', index=False, header=True, encoding="utf-8")